@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:wght@400;500;600;700;800&family=Inter:wght@400;500;600;700;800&display=swap'); /* FONTTI */
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200'); /* IKONIT */
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css); /* SOMEIKONIT */



html, body {
	font-family: 'Inter', sans-serif;
	font-size: 14px;
	color: var(--text);
	margin: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	scroll-behavior: smooth;
}


/* YLEISET */

	/* Värit */

	:root {
		--primary: #044d4d;
		--secondary: #d9b100;
		--text: #262626;
		--text-light: rgba(0, 0, 0, 0.4);
		--white-light: rgba(255, 255, 255, 0.7);
		
		--vuorox-primary: #023047;
		--vuorox-secondary: #085B82;
		--vuorox-background: #E2E9ED;
		--vuorox-tertiary: #64aade;
		
		--lekatech-background: #3B4552;
		--lekatech-blue: #32B3FF;
		
		--cloubi-background: #00AAB5;
		--cloubi-orange: #FA9A36;
	}


	/* Ikonit */

	.material-symbols-outlined {
	  font-variation-settings:
	  'FILL' 1,
	  'wght' 400,
	  'GRAD' 0,
	  'opsz' 48
	}

	.material-symbols-outlined.md-regular { font-size: 20px;}
	.material-symbols-outlined.md-huge { font-size: 36px;}


	/* Fontit */

	h1 {
		font-weight: 400;
		font-size: 48px;
		margin: 0 0 25px 0;
		font-family: 'DM Serif Text', serif;
		color: var(--primary);
	}

		.darkmode h1 {
			color: white;
		}

	h2 {
		font-weight: bold;
		font-size: 26px;
		margin: 0 0 20px 0;
	}

	h3 {
		font-weight: 600;
		font-size: 18px;
		margin: 0 0 15px 0;
	}

	p {
		font-weight: normal;
		margin: 0 0 30px 0;
		line-height: 1.6;
	}

	a { /* Linkit */
		font-weight: 500;
		color: inherit;
		text-decoration-line: none;
	}

	a:hover {
		color: var(--secondary) !important;
	}

	
	/* Someikonit */

	.fa {
  		padding: 0px;
  		font-size: 20px !important;
		width: 20px;
  		text-align: center;
		color: white;
		background-color: none;
		border-radius: 50%;
	}

	
	/* Yleiset elementit */

	.darkmode {
		color: white !important;
	}

	.lightmode {
		color: var(--text)
	}

	.fullscreen {
		min-height: calc(100vh - 100px);
	}

	img {
		max-width: 100%;
		object-fit: cover;
	}

	.button {
		display: flex;
		padding: 0px 30px;
		height: 40px;
		width: fit-content;
		background-color: var(--primary);
		justify-content: center;
		color: white;
		align-items: center;
		border-radius: 5px;
		margin: 0 0 20px 0;
		font-weight: 600;
	}

	.button:hover {
		color: var(--secondary) !important;
	}

		.darkmode .button {
			background-color: white;
			color: var(--text);
		}

		.secondarybutton {
			/* background-color: rgba(255, 255, 255, 0.10); */
			background: none;
			color: var(--primary);
			outline: 2px solid;
			outline-offset: -2px;
		}

			.darkmode .secondarybutton {
				color: white;
				background: none;
			}

	.minisection {
		display: flex;
		max-width: 100%;
		width: fit-content;
		height: fit-content;
		gap: 5px;
		align-items: center;
		justify-content: center;
	}

		.minisection .button {
			margin: 0 0 0 0;
		}

		.minisection:has(.button) {
			margin: 0 0 20px 0;
			gap: 20px;
		}



/* NAVIGAATIOPALKKI */

.navbar {
	position: fixed;
	width: 90%;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
 	justify-content: space-between;
  	color: var(--primary);
  	height: fit-content;
  	padding: 0 5%;
	transition: 0.2s ease-in-out;
	z-index: 10;
}

.navbar[active] {
	color: white;
	background-color: var(--primary);
}

	.logo-container{
		font-family: 'DM Serif Text', serif;
		display: flex;
		height: 50px;
		padding: 0;
		align-items: center;
		font-size: 20px;
	}

	.menu {
		display: flex;
		flex-direction: row;
		align-items: center;
		height:100%;
	}

		.menubutton {
			display: flex;
			flex-direction: row;
			font-size: 16px;
			height: 50px;
			gap: 8px;
			align-items: center;
			padding: 0 15px;
			font-weight: 500;
		}

		.current {
			color: var(--secondary)!important;
		}


		/* Alavalikko */

		.dropdown {
  			display: inline-block;
			position: relative;
			height: 100%;
		}

			.submenu {
  				display: none;
  				position: absolute; /* Kun absolute niin päämenun button ei veny */
				min-width: 100%;
				transition: 0.2s ease-in-out;
				color: white;
			}

				.dropdown .submenu .menubutton{
					background-color: var(--primary);
				}

			.dropdown:hover .menubutton {
				background-color: var(--primary);
				color: white;
			}


		/* Mobiilialavalikko*/

		.plus-container {
			display: flex;
			width: fit-content;
			height: fit-content;
			justify-content: center;
			align-items: center;
		}

			.plus,
			.plus::before{
				display:block;
				width: 12px;
				height: 2px;
				background-color: var(--primary);
				border-radius: 2px;
			}

				.darkmode .plus,
				.darkmode .plus::before{
					background-color: white;
				}

			.plus::before{
				content: '';
				transform: rotate(90deg);
				transition: transform ease-in-out 0.15s;
			}

			.menubutton[active] .plus,
			.menubutton[active] .plus::before{
				background-color: white;
			}


	/* Hampparipainikkeen visu ja animaatio */

	#menu-toggle {
		display: none;
	}

	#menu-toggle:checked + .hamburger-container .hamburger::before {
		margin-top: 0px;
		transform: rotate(405deg);
		background-color: white;
	}

	#menu-toggle:checked + .hamburger-container .hamburger {
		background: transparent;
	}

	#menu-toggle:checked + .hamburger-container .hamburger::after {
		margin-top: 0px;
		transform: rotate(-405deg);
		background-color: white;
	}

	.hamburger-container {
	  	display: none;
	  	height: 50px;
	  	width: 50px;
	  	cursor: pointer;
	  	justify-content: center;
	  	align-items: center;
	}

		.hamburger,
		.hamburger::before,
		.hamburger::after {
			display: block;
			background-color: var(--primary);
			position: absolute;
			height: 2px;
			width: 25px;
			transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
			border-radius: 2px;
		}

			.darkmode .hamburger,
			.darkmode .hamburger::before,
			.darkmode .hamburger::after,
			.navbar[active] .hamburger,
			.navbar[active] .hamburger::before,
			.navbar[active] .hamburger::after{
				background-color: white;
			}

		.hamburger::before {
			content: '';
			margin-top: -8px;
		}

		.hamburger::after {
			content: '';
			margin-top: 8px;
		}



/* HERO */

.hero {
	width: 90%;
	height: fit-content;
	min-height: calc(100vh - 100px); /* 100vh tunnuksella koko sivun leveydelle */
	display: flex;
	gap: 0 25px;
	align-items: center;
	padding: 75px 5% 25px 5%;
	background-position: center; /* kuvan sijainti taustalla */
	background-attachment: fixed; /* pysyykö paikallaan vai ei */
	background-size: cover;
	background-repeat: no-repeat;
}

	.hero .content-field {
		justify-content: center;
	}

.pictureframe {
	display: flex;
	max-width: 100%;
	aspect-ratio: 1/1;
	border-radius: 100%;
	justify-content: center;
	align-items: flex-start;
	overflow: hidden;
	margin: 0 0 10px 0;
	background-position: left; /* kuvan sijainti taustalla */
	background-size: cover;
}



/* BODY */

.content-field {
	display: flex;
	flex-direction: column;
	width: 90%;
	padding: 25px 5%;
	background-position: center; /* kuvan sijainti taustalla */
	background-attachment: none; /* pysyykö paikallaan vai ei */
	background-size: cover;
	background-repeat: no-repeat;
	scroll-margin-top: 50px;
}

	.content-field .content-field,
	.hero .content-field,
	.footer .content-field {
		padding: 0;
		width: 100%;
	}

	.content-field ul {
		margin: 0 0 20px 0;
		line-height: 1.6;
		padding-inline-start: 1em;
	}

.column { /* HUOM. ei gappia */
	display: flex;
	height: 100%;
	width: 100%;
	flex-direction: row;
	justify-content: center;
	gap: 0 25px;
}

.card {
	display: flex;
	width: 100%;
	border-radius: 10px;
	margin: 10px 0 20px 0;
	gap: 20px 5%;
	/* box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1); */
	overflow: hidden;
	background-position: center; /* kuvan sijainti taustalla */
	background-attachment: none; /* pysyykö paikallaan vai ei */
	background-size: cover;
	background-repeat: no-repeat;
	align-items:center;
	transition: 0.2s ease-in-out;
}

.card:hover {
	margin-top: 0px;
}

	.card .pictureframe {
		max-width: 65%;
	}

.screen {
	display: flex;
	border-radius: 10px;
	max-height: 65vh;
	margin: 15px 0;
	overflow: hidden;
	box-shadow: 25px 25px 50px rgba(0, 0, 0, 0.25);
	width: fit-content;
	height: fit-content;
}

.gallery {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	gap: 0 20px;
	height: 100%;
	width: 100%;
	margin-bottom: 20px;
}

	.galleryimage {
		display: flex;
		width: 150px;
		aspect-ratio: 1/1;
		border-radius: 5px;
		margin: 10px 0 10px;
		overflow: hidden;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	.galleryimage:hover {
		margin-top: 0px;
		margin-bottom: 20px;
		transition: 0.2s ease-in-out;
	}



/* FOOTER */

.footer {
	margin-top: auto; /* Oleellinen footerin sijainnin kannalta jos sivulla ei sisältöä */
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 20px 5%;
	background: var(--primary);
	width: 90%;
	color: white;
	gap: 20px 0;
	align-items: center;
}

	.footersection {
		display: flex;
		gap: 5px 20px;
		align-items: flex-start;
		flex-direction: row;
	}






/* RESPONSIIVISUUS */

@media (max-width: 850px) {

/* Navigaatio */
	
.navbar{
	padding-right: calc(5% - 12.5px);
	width: calc(95% - 12.5px);
}

	.menu {
		position: fixed;
		top: 0;
		right: 0; /* Tulee olla 0, right/left vaikuttaa animaatioon */
		flex-direction: column;
		width: 0;
		height: 100%;
		align-items: flex-start;
		background-color: var(--primary);
		color: white;
		transition: width 400ms ease-in-out;
	}

		.menubutton {
			display: none; /* Animaation kannalta relevantti */
			justify-content: space-between;
			width: calc(100% - 15px);
			padding-right: 0;
			background-color: var(--primary);
			margin-bottom: 2px;
			cursor: pointer;
		}

	
		/* Alasvetovalikko */

		.dropdown{
			width:100%;
		}
	
			.menubutton[active] + .submenu{
				display: flex !important;
				position: relative; /* Hyvin oleellinen */
				flex-direction: column;
				width:100%;
			}
	
				.dropdown .submenu .menubutton {
					width: calc(100% - 30px);
					padding-left: 30px;
				}
	
					.dropdown .submenu .dropdown .submenu .menubutton {
						width: calc(100% - 60px);
						padding-left: 60px;
					}
		
				.plus-container{
					width: 50px;
					height: 100%;
					cursor: pointer;
				}
	
				.menu a .plus-container {
					border: 2px;
					border-left-style: solid;
					border-color: var(--primary);
					background-color: var(--primary);
				}
	
				.menubutton:has(.plus-container:hover),
				.submenu .plus-container,
				.plus-container:hover,
				.menubutton[active],
				.menubutton[active] .plus-container,
				.menubutton[active]:has(.plus-container:hover) {
					background-color: var(--primary)!important;
				}

					.menubutton[active] .plus-container .plus::before{
						transform: rotate(180deg);
					}
	

	/* Mobiilimenun asetukset */

	.hamburger-container {
		display: flex;
		z-index: 10;
	}

	#menu-toggle:checked ~ .menu { /* Kun menu on auki */
		display: flex;
		justify-content: flex-start;
		min-height: 100%;
		height: fit-content;
		width: 100%;
		padding-top: 50px;
	}
	
	#menu-toggle:checked ~ .menu .menubutton { /* Kun menu on auki, animaatiossa tärkeä */
		display: flex;
	}

	
/* Footer */
	
.footer {
	flex-direction: column;
	align-items: flex-start;
}
	
	.footersection {
		flex-direction: column;
	}
	
}



@media (min-width: 850px){
	
	/*Alavalikko */
	
	.dropdown:hover .submenu {
		display: flex;
		flex-direction: column;
	}
		
		.dropdown:hover .plus,
		.dropdown:hover .plus::before{
			background-color: white;
		}
		
		.dropdown:hover .plus::before{
			transform: rotate(180deg);
		}
	
	
		/* Alavalikon alavalikko */

		.dropdown:hover .submenu .dropdown .submenu { /* Ettei kaikki submenut avaudu */
			display:none;
		}

		.dropdown .submenu .dropdown:hover .submenu{
			display: flex !important;
			flex-direction: column;
			position: absolute;
			Top: 0;
			Left: 100%;
		}
	
			.dropdown:hover .submenu .dropdown .menubutton .plus::before{ /* Ettei jokainen + käänny */
				transform: rotate(90deg)
			}

			.dropdown .submenu .dropdown:hover .menubutton .plus::before{
				transform: rotate(180deg);
			}
	
}




@media (max-width: 700px) {

/* Body */

.hero,
.column,
.card {
	flex-direction: column;
	align-items: flex-start;
}
	
	.reversed {
		flex-direction: column-reverse;
	}
	
	.minisection:has(.button){
		flex-direction: column;
		align-items: flex-start;
	}
	
.content-field {
	align-items: flex-start !important;
}
	
}